*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
    color: black;
    overflow: scroll;
}

header {
    margin-top: 20;
    padding-bottom: 20px;
}

}

.Top_meny{
    width: 100%;
    height: 50px;
}

.Top_meny a{
    font-size: 25px;
    padding: 15px;
    color: black;
    text-decoration: none;
}

.Logo {
    width: 100%;
    height: 70px;
    text-align: center;
}

.Logo a{
    font-size: 50px;
    padding: 20px;
    color: black;
    text-decoration: none;
}

.meny_niz{
    width: 100%;
    height: 100px;
}

.meny_niz a{
    font-size: 21px;
    padding: 15px;
    color: black;
    text-decoration: none;
}

li{
    display: inline;
}

.r{
    float: right;
    margin-right: 100px;
}

.l{
    position: relative;
    margin-left: 100px;
}

.n{
    position: relative;
    margin-left: 100px;
}

img{
    width:1250px;
    margin-left: 100px;
    margin-right: 100px;
}

